*.pyc
*.swp
__pycache__/
.*cache/
.coverage
.DS_Store
.eggs/
.idea
.idea/
.noseids
.pymodhis
.pypirc
.venv
.vscode
.vscode/
prof/
dist/amodbus*
build/html
/amodbus.egg-info/
venv
downloaded_files/
amodbus.log
